
h1, h2 {
	text-align: center;
	font-size: 64px;
	padding: 12px 12px 50px 12px;
	background-color: black;
	color: white;
}

h2 {
	font-size: 56px;
}

li {
	font-size: 32px;
	padding-left: 24px;
	padding-bottom: 20px;
	text-align: center;
	padding: 20px 20px 20px 20px;
}
button{
	font-size: 32px;
	border-radius: 10px;
	
}

button:hover{
	background-color: #ACFAF6;

	
}
.button_no {
	background-color: #49F2AC;
	
	
}


body {
	font-family: "Comic Sans MS", sans-serif;
	background-color: mintcream;
}

.button_yes {
	background-color: #FF9696;
}
.webdings {
    font-family: "Wingdings";
}
